@using REX.API.Models;
@model IEnumerable<REX.API.Models.ProductTypeModel>

<div class="container">
    @foreach (ProductTypeModel product in Model)
    {
        <br />
        <div class="row" style="height:150px">
            <div class="col-md-6">
                <img src='data:image/png;base64,@product.BarCode' />
            </div>
            <div class="col-md-6">
                <div>@product.Name</div>
                <div>@product.Price</div>
            </div>

        </div>
    }
</div>
