@using REX.API.Models;
@model IEnumerable<REX.API.Models.ProductTypeModel>

<div class="container">
    @foreach (ProductTypeModel product in Model)
    {

    }
    @{var products = Model.ToArray(); }
    @for (int i = 0; i < products.Length; i++)
        {
            var product = products[i];
            if (i % 2 == 0)
            {
            <br />
            <div class="row" style="height:200px">
                <div class="col-md-6">
                    <img src='data:image/png;base64,@product.BarCode' height="300" />
                    <div>@product.Name</div>
                    <div>@product.Price</div>
                </div>
                <div class="col-md-6">

                </div>

            </div>
        }
        else
        {
            <br />
            <div class="row" style="height:200px">
                <div class="col-md-6">
                    
                </div>
                <div class="col-md-6">
                    <img src='data:image/png;base64,@product.BarCode' height="300" />
                    <div>@product.Name</div>
                    <div>@product.Price</div>
                </div>

            </div>
        }
    }
</div>
